<form hx-post="/edit/{{ item.id }}" hx-target="#item-{{ item.id }}" hx-swap="outerHTML" class="flex"
  x-data="{
    name: '{{ item.name }}',
    get showReal() {
      return this.name.toLowerCase().includes('muffin');
    }
  }
">
  <div class="w-64">
    <input type="text" name="name" class="input input-bordered input-sm w-full max-w-xs" value="{{ item.name }}" x-model="name"/>
    <div class="form-control" x-show="showReal">
      <label class="label cursor-pointer">
        <span class="label-text">Are you the real Muffin Man?</span>
        <input type="checkbox" class="checkbox"/>
      </label>
    </div>
  </div>
  <div>
    <button class="btn btn-success btn-sm" type="submit">
    <i class="fa-solid fa-check"></i>
  </button>
  <button class="btn btn-error btn-sm"
          type="cancel" hx-post="/edit/{{ item.id }}" hx-target="#item-{{ item.id }}" hx-swap="outerHTML"
          hx-params="none">
    <i class="fa-solid fa-times"></i>
  </button>
  </div>
</form>
